body{
  background-color:lavender;
  font-family: 'Swanky and Moo Moo', cursive;
  color: inherit;
  text-align: center;
}
p {
  font-size: 25px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5px;
}
h3 {
  text-align: left;
  text-decoration: underline;
  font-size: 30px;
  color: purple;
  margin-bottom: 0px;
}
h1 {
  font-size: 45px;
}
li {
  text-align: left;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;

}
#self-portrait {
  max-width: 200px;
}

#likes h3 {
  color: green;
}
#dislikes h3{
  color: red;
}
#links h3{
  color: blue;
}
#Turnip {
  max-width: 400px;
  float: left;
}
